colorama==0.4.6 ; python_full_version >= "3.11.5" and python_full_version < "4.0.0" and sys_platform == "win32"
loguru==0.7.2 ; python_full_version >= "3.11.5" and python_full_version < "4.0.0"
python-decouple==3.8 ; python_full_version >= "3.11.5" and python_full_version < "4.0.0"
win32-setctime==1.1.0 ; python_full_version >= "3.11.5" and python_full_version < "4.0.0" and sys_platform == "win32"
